.card-breed {
    width: 50%;
    background-color: #810ca800;
}
.card-body {
    background-color: #810ca800 !important;
}
.card {
    border-color: white;
    // box-shadow: 3px 3px 3px 3px #810CA8;
    background-color: rgba(255, 255, 255, 0);
}
