.navbar {
    height: 60px;
    background-color: #3c185f !important;
}

.title {
    padding-right: 10%;
    color: white;
    cursor: pointer;

    &:hover {
        color: rgb(216, 216, 216);
        transition: 0.2s;
    }
}